/* 有时候会遇到一些不希望显示的内容，但用不知道要怎么关掉它。那么干脆简单粗暴点，直接把它隐藏了。
同样是使用F12打开控制台，使用左上角的网页元素选择器，定位到希望隐藏的元素上，获取他的id或者class,然后在custom.css中使用隐藏属性，此处假设我要隐藏id为hidden_element的div元素： */


/* #hidden_element {
    display: none!important;
    visibility: hidden;
    opacity: 0;
    三条属性择一即可
} */


/* display:none可以隐藏所有的信息，包括div下的文本和图片,同时被隐藏的内容不占用空间。 */


/* visibility: hidden

visibility属性规定元素是否可见。这个属性指定是否显示一个元素生成的元素框。这意味着元素仍占据其本来的空间，不过可以完全不可见。除了hidden以外还有两个取值：

visible 默认值,元素可见。
hidden 元素不可见。
collapse 当在表格元素中使用时，此值可删除一行或一列，但是它不会影响表格的布局。被行或列占据的空间会留给其他内容使用。如果此值被用在其他的元素上，会呈现为hidden。 */


/* 
opacity: 0

opacity属性决定元素的透明度。
这意味着将opacity设为0只能从视觉上隐藏元素。而元素本身依然占据它自己的位置并对网页的布局起作用。 */